.App {
  text-align: center;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f4effa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0a0e37;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputs{
  -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #9b72cf;
     color: black;
     width: 250px;
     height: 30px;
     padding-left: 10px;
     margin: 5px;
    }

.submit{
  -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #9b72cf;
     color: white;
     width: 150px;
     height: 30px;
     padding-left: 10px;
     background-color: #532b88;
}

.submit:hover{
  background-color: #2f184b;
}

.inputBackground{
  background: #9b72cf;
  padding: 40px;
  border-radius: 5px;
  border-radius: 20px;
}

.title{
  padding-bottom: 15px;
}

.navlistitem
{
  color: #f4effa;
  margin: 20px;
}
.navlistitem:hover
{
  color: #532b88;
  text-decoration: underline;
}

.navbar
{
  font-size: 3.25vw;
  display:flex;
  height: 60px;
  background-color: #2f184b; 
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  padding: 15px; 
  z-index: 100; 
  margin-top: 0px;
  text-align: center;
  align-items: center;
}

#logout-button
{
  text-decoration: underline;
}

#logout-button:hover
{
  cursor: pointer;
}


