/* Navbar.css */

nav {
	color: #fff;
	width:100%;
	height: 110px;
	display: flex;
	align-items: center;
  }
  
  ul {
	list-style-type: none; 
	padding: 0;
	margin: 0;
  }
  
  li {
	text-align: center;
	display: inline; 
	margin-right: 80px; 
  }
  
  a {
	text-decoration: none;
	color: #fff; 
  }
  
  a:hover {
	text-decoration: underline; 
  }
  
 
